@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Oswald', sans-serif;
}

i,
select,
article,
footer img,footer p {
    cursor: pointer;
}

#container {
    height: 40vh;
    position: relative;
}

#container img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

#container img.active {
    opacity: 1;
}

main img:hover{
    scale: 1.1;
    transition: ease 500ms;
}